@import "../../styles/variables";

.commentPage {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.newComment {
  width: 70%;
}

.headerWrapper {
  width: 100%;
  background-color: #f9f9f9;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerWrapper h1 {
  font-family: "Cera Pro", sans-serif;
  font-size: 28px;
  font-weight: bold;
  color: #000000;
  margin: 0;
  padding: 24px 80px;
}
