@import "../../styles/variables";

.commentPage {
  padding: $padding-small;
  background-color: $color-light;
}

.newCommentContainer {
  margin-bottom: $margin-medium;
}

.newCommentInput {
  width: 100%;
  padding: $padding-small;
  border: 1px solid $color-secondary;
  border-radius: $border-radius-small;
  font-size: $font-size-small;
}

.commentList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.commentList li {
  margin-bottom: $margin-medium;
}

@media (max-width: 600px) {
  .newCommentInput {
    font-size: $font-size-small;
    padding: $padding-small;
  }
}
